@import 'normalize';
@import 'fonts';

$breakpoint-xs: 375px;
$breakpoint-sm: 545px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

body {
	font-family: $font-stack; 
}

img {
	max-height: 300px;
	margin: 0 20px 20px 0;
}

p {
	letter-spacing: 0.004em;
}

a {
	color: black;
}

h1 {
	font-size: 3em;
	margin: 0;
}

button {
	padding: 6px;
	text-decoration: underline;
	background: none;
	border: none;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&--base {
		transform: translateZ(0);
		background: linear-gradient(white, #808000, yellow, green, red, blue);
	}

	&--deep {
		transform: translateZ(-2px) scale(3);
	}

	&--back {
		transform: translateZ(-1px) scale(2);
		height: calc(100vh * 30);
	}
}

.content {
	padding: 180px 100px 180px 0;
	position: relative;
}

.nav {
	&--lg {
		cursor: pointer;
		order: 1;
		padding: 0 10px 0;
		position: fixed;
		transform: translateY(20px);
		width: 98%;
		z-index: 10;

		&.nav-on {
			padding-top: 0;
			position: relative;
			order: 2;

			&.nav-fixed {
				position: fixed;
				padding-top: 5px;
			}
		}

		.nav__inner {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.nav__alphabet {
			display: flex;

			.alphabet {
				&__title {
					margin-right: 8px;
				}

				&__letter-anchor {
					margin-right: 6px;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.article-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
	position: relative;
}

.article {
	&__outer {
		padding: 0 0 100px 0;
	}

	&__heading {
		align-items: baseline;
		display: flex;
		padding-left: 100px;
	}

	&-heading{
		&__title {
			font-size: 1.3em;
			margin: 0 20px 20px 0;
			max-width: 800px;
		}

		&__name {
			max-width: 450px;
		}
	}

	&__images {
		&-inner {
			display: flex;
			padding-left: 100px;
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
		}
	}

	&-description {
		margin: 0;
		min-width: 400px;
		padding-right: 50%;
    padding-left: 90px;
	}
}

.article__images-inner::-webkit-scrollbar {
	display: none;
}

.about {
	margin-bottom: 120px;
	padding-left: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.title {
	order: 2;
	text-align: center;
	transform: translateY(100px);
	position: absolute;
	width: 100%;
	z-index: 5;

	&.nav-on {
		order: 1;
		position: relative;
	}
}

